// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-item{
  margin: 0 10px 10px 10px;
}

#submit{
  margin: 0 auto;
  background-color: skyblue;
  width: 80%;
}

#errors{
  color: red;
}
